[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Pico_code"]
	path = Pico_code
	url = https://github.com/pirakansa/Pico_code.git
[submodule "pico-examples"]
	path = pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
